<div class="card card-profile card-plain">
  <div class="card-avatar">
    <a href="#avatar">
      <img src="../assets/img/faces/joe-gardner-2.jpg" alt="...">
    </a>
  </div>
  <div class="card-block">
    <a href="#paper-kit">
      <div class="author">
        <h4 class="card-title">Sophie West</h4>
        <h6 class="card-category">Designer</h6>
      </div>
    </a>
    <p class="card-description text-center">
      A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others.
      No one can whistle a symphony. It takes an orchestra to play it.
    </p>
  </div>
</div>
