<div class="card card-profile card-plain">
  <div class="img-rounded img-responsive">

    <img src="{{image}}" alt="{{name}}">

  </div>
  <div class="card-block">
    <a href="#linktoplayerdetail">
      <div class="author">
        <h4 class="card-title">{{name}}</h4>
        <h6 class="card-category">{{title}}</h6>
      </div>
    </a>
    <p class="card-description text-center">{{bio}}</p>
  </div>
</div>


<div class="col-xs-8 col-sm-6 col-md-3">
  <h4 class="images-title">Rounded Image</h4>
  <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
  <div class="img-details">
    <div class="author">
      <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
    </div>
    <p>Chet Faker</p>
  </div>
</div>
