<div class="section section-dark text-center">
  <div class="container">
    <h2 class="title">Volleyball coaching staff</h2>
    <div class="row">

      <div class="col-md-6">
        <app-coachcard name="Jenny Weber" title="Practice Admin" bio="City girl with a taste for adventure" image="../assets/img/faces/pdog.jpg"></app-coachcard>
      </div>

      <div class="col-md-6">
        <app-coachcard name="Jenny Weber" title="Practice Admin" bio="City girl with a taste for adventure" image="../assets/img/faces/pdog.jpg"></app-coachcard>
      </div>

      <div class="col-md-6">
        <app-coachcard name="Jenny Weber" title="Practice Admin" bio="City girl with a taste for adventure" image="../assets/img/faces/pdog.jpg"></app-coachcard>
      </div>

      <div class="col-md-6">
        <app-coachcard name="Jenny Weber" title="Practice Admin" bio="City girl with a taste for adventure" image="../assets/img/faces/pdog.jpg"></app-coachcard>
      </div>

    </div>
  </div>
</div>
